h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body       
        li Evaluar el componente técnico, financiero, social y ambiental del proyecto teniendo en cuenta las técnicas de investigación y objetivos.
.card.resultado-item
    .card-body  
        li Definir actividades de mejora según cronogramas establecidos y metodología de investigación.

        





