include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Agrosana. (2015). Política de Calidad. Agrosana", "http://www.agrosana.es/politica-de-calidad")
        +referenciaItem("Agrosavia. (2021). Qué hacemos. Valores", "https://www.agrosavia.co/qu%C3%A9-hacemos")
        +referenciaItem("Cámara de Comercio de Medellín. (2021). Guías de tipos societarios.", "https://www.camaramedellin.com.co/Portals/0/Documentos/2019/GuiaTipoSocietario__FormatoPDF_ago20.pdf")
        +referenciaItem("Decreto 2616 de 2013. (Ministerio de Trabajo y Protección Social). Por medio del cual se regula la cotización a seguridad social para trabajadores dependientes que laboran por períodos inferiores a un mes, se desarrolla el mecanismo financiero y operativo de que trata el artículo 172 de la Ley 1450 de 2011 y se dictan disposiciones tendientes a lograr la formalización laboral de los trabajadores informales. Noviembre 20 de 2013.", "")
        +referenciaItem("Enciclopedia Económica (2021). Mercadeo. Funciones del Mercado.", "https://enciclopediaeconomica.com/mercadeo/")
        +referenciaItem("FAO. (2018). Análisis FODA.", "http://www.fao.org/3/CA1923ES/ca1923es.pdf ")
        +referenciaItem("Instituto Colombiano Agropecuario. (2021). Buenas prácticas agrícolas y ganaderas. ICA.", "https://www.ica.gov.co/areas/agricola-pecuaria/bpa-bpg.aspx")
        +referenciaItem("Jimenez, L.W. (2010). Contabilidad de Costos.FOCO Ediciones Bogotá", "")
        +referenciaItem("Martínez, A.J. (2017). El ciclo de vida del producto. Econosublime", "http://www.econosublime.com/2020/01/ciclo-vida-producto.html")
        +referenciaItem("Mendieta. 2005. Formulación y evaluación de proyectos de inversión agropecuaria. Universidad Agraria. Nicaragua.", "")
        +referenciaItem("Ministerio de Trabajo y Protección Social. (2014). Abecé de la cotización por semanas.", "https://www.mintrabajo.gov.co/documents/20147/241327/abece_cotizacion_por_semanas.pdf")
        +referenciaItem("Ministerio de Trabajo y Protección Social. (2021). Conoce los tipos de contrato de trabajo.", "https://www.mintrabajo.gov.co/web/empleosinfronteras/conoce-los-tipos-de-contrato-de-trabajo")
        +referenciaItem("Ministerio de Trabajo y Protección Social. (2017). Información y Orientación laboral para la población colombiana en situación de retorno.", "https://www.mintrabajo.gov.co/documents/20147/59036289/CARTILLA+EMPLEO+RETORNO+op+3+completo+baja+11-10-2017.pdf")
        +referenciaItem("Miranda, M.J. (1999). Gestión de proyectos. Cuarta Edición. MM Editores.", "")
        +referenciaItem("Nuño , L.P. (2012). Administración de Pequeñas Empresas. Red Tercer Milenio.", "")
        +referenciaItem("Puentes, M.G. 2011. Formulación y evaluación de proyectos agropecuarios. Ecoe.", "")
        +referenciaItem("Servicio Nacional de Aprendizaje. (2014). El Contrato de Trabajo. SENA", "")
        +referenciaItem("Universidad Autónoma de México. Estudio Técnico. Facultad de Economía. (pp. 53-93)", "http://www.economia.unam.mx/secss/docs/tesisfe/GomezAM/cap2a.pdf")
        +referenciaItem("Unidad de Planeación Minero Energética UPME. (2021). Normatividad Ambiental y Sanitaria.", "http://www.upme.gov.co/guia_ambiental/carbon/gestion/politica/normativ/normativ.htm#BM2_1_Normas_y_principios_ambientales_co ")
        +referenciaItem("Ministerio de Trabajo y Protección Social. (2017). Información y Orientación laboral para la población colombiana en situación de retorno.", "https://www.mintrabajo.gov.co/documents/20147/59036289/CARTILLA+EMPLEO+RETORNO+op+3+completo+baja+11-10-2017.pdf")     
        
        

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            