.container#tema_5

    .header-ecored
      h1 5. Estudio financiero

    .jumbotron.bg-white       
      .row.mb-5 
        .col-12 
          img(src="assets/images/pages/tema_5/img_5_01.jpg", alt="", style="width:100%;")

      .tarjeta.tarjeta--borde.mb-5
        .row.justify-content-center.align-items-center 
          .col-auto.mb-4.mb-lg-0 
            img(src="assets/images/pages/tema_5/icon_5_01.svg", alt="", style="width:90px; display:block; margin:0 auto;")
          .col-12.col-lg 
            p.mb-0 El aspecto financiero es el que nos va a mostrar la viabilidad del proyecto o no, para ello se utilizan una serie de herramientas financieras que podemos comparar con las de otros proyectos y así poder tomar la decisión de implementar el proyecto.     

      p.mb-5 Para poder contar con las herramientas de evaluación este estudio se divide en dos parte que son:

      .tarjeta.tarjeta--neutro_01.mb-3
        p.mb-0 #[strong 1.] La organización metódica y presentación de los costos de producción y los ingresos del proyecto agropecuario.
      .tarjeta.tarjeta--neutro_01.mb-5
        p.mb-0 #[strong 2.] La evaluación financiera del proyecto utilizando Valor Presente Neto (VPN) Tasa Interna de Retorno (TIR) y relación Beneficio / Costo (B/C).

      .row.mb-5 
        .col-12.col-lg-6.mb-4.mb-lg-0
          p.mb-0 En esta primera parte se va a trabajar la organización metódica (organizada) de los costos de producción y los ingresos del proyecto. El año uno o año cero es el momento en el que se realizan las inversiones iniciales del proyecto cuando se comienza a invertir en adecuaciones de terrenos, construcciones agrícolas o pecuarias, compra de semilla o semovientes, etc; periodo de inversión o montaje.
        .col-12.col-lg-6
          p.mb-0 En el análisis de los costos lo primero es identificar los dos tipos de costos que existen: costos fijos son aquellos que no cambian según el nivel de producción, por ejemplo, arriendo, vigilancia, depreciación de máquinas o seguros y los costos variables son los que aumentan o disminuyen dependiendo del volumen de producción como mano de obra, insumos, semilla, pie de cría, concentrado, vacunas, fertilizantes, etc.

      .hr-divider.my-5 

      p.texto--resaltado.mb-5 Para la elaboración de la tabla de costos en la herramienta ofimática excel debe tener en cuenta la siguiente clasificación de costos:

      .tarjeta.tarjeta--neutro_03
        .tarjeta.mb-5
          h2.mb-3 Costos fijos 
          p.mb-5 Arriendo, sueldos administrativos, servicios públicos, amortizaciones, vigilancia, seguros, etc. Se mantienen más o menos constantes y generalmente no cambian en proporción directa con las ventas o unidades producidas. Jiménez, 2010, p 25.

          .row.mb-5 
            .col-12.mb-5 
              p.text-center.mb-0 #[strong Tabla de costos fijos, proyecto cacao asociado a plátano.] 
            .col-12.mb-4 
              img(src="assets/images/pages/tema_5/img_5_02.png", alt="", style="display:block; margin:0 auto; width:100%;")
            .col-12 
              p.text-center #[i Fuente. Costos fijos. Barón (2021).]

          .tarjeta.tarjeta--neutro_01
            .row.justify-content-end.align-items-center 
              .col-12.col-lg.mb-4.mb-lg-0    
                h2.mb-2(style="color:#7f8807") Recurso Excel 
                p.mb-0(style="font-size:12pt") Tabla de costos fijos, proyecto cacao asociado a plátano.
              .col-auto 
                a(href="media/documentos/Anexo_5_Tabla_2_Costos_fijos.xlsx", target="_blank").boton #[span Descargar] #[i(class="fa fa-arrow-down")]
        
        .tarjeta.mb-5
          h2.mb-3 Costos Variables 
          p.mb-5 Son aquellos que cambian en proporción directa con los volúmenes de producción y ventas, por ejemplo: materias primas, mano de obra a destajo, comisiones, semilla, pie de cría, concentrado, vacunas, fertilizantes, etc. Jiménez, 2010, p 25

          .row.mb-5 
            .col-12.mb-5 
              p.text-center.mb-0 #[strong Tabla de costos variables, proyecto cacao asociado a plátano.] 
            .col-12.mb-4 
              img(src="assets/images/pages/tema_5/img_5_03.png", alt="", style="display:block; margin:0 auto; width:100%;")
            .col-12 
              p.text-center #[i Fuente. Costos Variables. Barón (2021).]

          .tarjeta.tarjeta--neutro_01
            .row.justify-content-end.align-items-center 
              .col-12.col-lg.mb-4.mb-lg-0    
                h2.mb-2(style="color:#7f8807") Recurso Excel 
                p.mb-0(style="font-size:12pt") Tabla de costos variables, proyecto cacao asociado a plátano.
              .col-auto 
                a(href="media/documentos/Anexo_6_Tabla_3_Costos_variables.xlsx", target="_blank").boton #[span Descargar] #[i(class="fa fa-arrow-down")]

        .tarjeta 
          p El siguiente paso es la elaboración de los ingresos de los productos que se van a producir en la explotación; para ello se debe tener en cuenta el año de inicio de la producción, volúmenes iniciales (cantidad) de producción, unidad de medida que fue establecida para el proyecto y precio de venta.
          p.mb-5 Se establece que este análisis de costos e ingresos se proyecta a cinco (5) años, que sería el periodo por evaluar en el proyecto.

          .row
            .col-12.mb-5 
              p.text-center.mb-0 #[strong Análisis de ingresos del proyecto cacao asociado a plátano.] 
            .col-12.mb-4 
              img(src="assets/images/pages/tema_5/img_5_04.png", alt="", style="display:block; margin:0 auto; width:100%;")
            .col-12 
              p.text-center #[i Fuente. Análisis de Ingresos (Flujo de caja) Barón (2021).]

      .hr-divider.my-5 
      
      .row.mb-3
        .col-12#tema_5_1
          h2(style="color:#00838F") 5.1 Flujo de caja

      p.texto--resaltado.mb-5 Una forma sencilla para definir el flujo de caja puede darse como, #[span la diferencia que existe entre los entradas (ingresos) y las salidas (egresos) de dinero o efectivo] que tiene la empresa en un tiempo determinado (año). Por medio de este indicador se muestra el dinero que entra y sale en toda la operación del proyecto.

      p.mb-5 El flujo de caja para Mendieta (2005), posee cuatro elementos básicos que componen el flujo de fondos son:

      .row.justify-content-center.mb-5
        .col-10.col-lg-6.mb-5
          .tarjeta.tarjeta--neutro_03.tarjeta--iconoIzquierda.full--height
            .tarjeta__icono 
              img(src="assets/images/pages/tema_5/flujoCaja.svg", alt="")
            .tarjeta__texto 
              h2.mb-2 01
              p.mb-0 Los beneficios (ingreso) de operación.
        .col-10.col-lg-6.mb-5
          .tarjeta.tarjeta--neutro_03.tarjeta--iconoIzquierda.full--height
            .tarjeta__icono 
              img(src="assets/images/pages/tema_5/flujoCaja.svg", alt="")
            .tarjeta__texto 
              h2.mb-2 02
              p.mb-0 Los costos (egresos) de inversión o montaje, o sea, los costos iniciales.
        .col-10.col-lg-6.mb-5
          .tarjeta.tarjeta--neutro_03.tarjeta--iconoIzquierda.full--height
            .tarjeta__icono 
              img(src="assets/images/pages/tema_5/flujoCaja.svg", alt="")
            .tarjeta__texto 
              h2.mb-2 03
              p.mb-0 Los costos (egresos) de operación.
        .col-10.col-lg-6.mb-5
          .tarjeta.tarjeta--neutro_03.tarjeta--iconoIzquierda.full--height
            .tarjeta__icono 
              img(src="assets/images/pages/tema_5/flujoCaja.svg", alt="")
            .tarjeta__texto 
              h2.mb-2 04
              p.mb-0 El valor de desecho o salvamento de los activos del proyecto.

      .row.mb-5
        .col-12.mb-5 
          p.text-center.mb-0 #[strong Presentación matricial del flujo de fondos] 
        .col-12.mb-4 
          img(src="assets/images/pages/tema_5/img_5_05.svg", alt="", style="display:block; margin:0 auto; width:100%; max-width:750px;")
        .col-12 
          p.text-center #[i Fuente. Formulación y evaluación de proyectos de inversión agropecuaria (2005) p 161]

      .tarjeta.tarjeta--borde.mb-5
        p.mb-0 Como se observa en la tabla el flujo de caja está compuesto básicamente por ingresos y costos de inversión, operación y mantenimiento y los valores de salvamento, según Mendieta (2005). 
        
      h3.text-center.mb-5 Las siguientes son las características de ingresos y costos:

      .tarjeta.tarjeta--neutro_03.mb-5
        .tarjeta.mb-5
          h2.mb-3 Ingresos 
          p.mb-0 Es el dinero percibido por la venta del producto o productos que deben ser registrados en el año que se efectúa la venta; se debe anotar que los ingresos registrados en el flujo de fondos del proyecto deben incluir, tanto los ingresos operativos (por venta del producto o prestación del servicio) como los ingresos financieros (por inversión de reserva, por ejemplo). Mendieta, 2005. P 162.
        .tarjeta
          h2.mb-3 Costos 
          p Se clasifican en dos categorías: 
          p #[strong Costos de inversión] <br>Consisten en desembolsos correspondientes a la adquisición de activos fijos o activos nominales y a la financiación del capital de trabajo. Los costos por adquisición de activos fijos que representan los desembolsos por compra de terrenos y edificios, es decir, pago de obras civiles y compra de equipo, maquinaria y obras de instalación o apoyo. Los costos por concepto de activos nominales corresponden a inversiones en activos no tangibles, pero necesarios para poner a funcionar el proyecto, tramitación de patentes como licencias; transferencias de tecnología, además de asistencia técnica; gastos de constitución y organización; así como la capacitación y entrenamiento. Mendieta, 2005 p163.
          p.mb-0  #[strong Costos de operación] <br>Consisten en los desembolsos por insumos y otros rubros necesarios para el ciclo productivo del proyecto a lo largo de su funcionamiento. Estos costos se pueden clasificar en costos de producción de ventas, administrativas y financieras, los cuales a su vez se desagregan, entre otros, en costos de mano de obra, materias primas e insumos, arriendos y alquileres, como costos financieros e impuestos. Mendieta, 2005 p 164.

      .tarjeta.tarjeta--neutro_01    
        p.mb-0 Con esta información ya es posible generar las tablas de ingresos, egresos y flujo de caja que nos sirven de insumo para la tercera etapa de proyectos que es, la evaluación financiera donde se determinarán indicadores tales como Tasa Interna de Retorno (TIR) y Valor Presente Neto (VPN).




         
