.container#tema_1

    .header-ecored
      h1 1. Estudio de mercado
    .jumbotron.bg-white       
      .row.mb-5 
        .col-12 
          img(src="assets/images/pages/tema_1/img_1_01.jpg", alt="", style="width:100%;")


      p.texto--resaltado.mb-5 El EML se puede usar en todas las etapas del proyecto, El estudio de mercado tiene como finalidad #[span hallar y cuantificar el fragmento de demanda que no ha sido cubierta por la oferta] y que puede abastecerse con el producto generado en el proyecto agropecuario.

      .hr-divider.my-5

      .row.mb-5
        .col-12
          p Cuando se hace referencia al mercado, se está hablando de los factores que influyen en este y la comercialización del bien agrícola o pecuario que será objeto del proyecto; para el desarrollo de este estudio se debe hacer referencia de la identificación del bien (piscicultura, ganadería de leche o de carne, cacao, arándano). 
        
          p En el análisis de mercado es necesario conocer las preferencias de los consumidores, identificar quienes van a proveer los insumos necesarios para el proceso de producción, transporte de insumos y productos, conocer la normatividad que rige el sector o que es necesaria para iniciar el trámite para exportación si es del caso, además de los requerimientos técnicos, sanitarios y legales del país donde va a ser enviado el producto.

      .row.justify-content-center.mb-5 
        .col-12.col-lg-10
          .tarjeta.tarjeta--borde
            p.text-center.mb-0 #[strong Se debe recordar que las funciones del mercadeo son:] 

      .row.justify-content-center.mb-5  
        .col-12.col-lg-5.mb-5
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01.full--height
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/icon_1_01.svg", alt="") 
            .tarjeta__texto
              h3(style="font-size:16pt; font-weight:800").mb-2 01 
              p.mb-0 Ejecutar el mercado tomando en cuenta al consumidor.
        .col-12.col-lg-5.mb-5
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/icon_1_02.svg", alt="") 
            .tarjeta__texto
              h3(style="font-size:16pt; font-weight:800").mb-2 02
              p.mb-0 Investigar permanentemente al consumidor, considerar la competencia, los productos más vendidos y los diferentes mercados.
        .col-12.col-lg-5.mb-5
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/icon_1_03.svg", alt="") 
            .tarjeta__texto
              h3(style="font-size:16pt; font-weight:800").mb-2 03
              p.mb-0 Seleccionar los clientes importantes y buscar fidelizarlos.
        .col-12.col-lg-5.mb-5
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01.full--height
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/icon_1_04.svg", alt="") 
            .tarjeta__texto
              h3(style="font-size:16pt; font-weight:800").mb-2 04
              p.mb-0 Explorar los mercados innovadores.
        .col-12.col-lg-5.mb-5
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/icon_1_05.svg", alt="") 
            .tarjeta__texto
              h3(style="font-size:16pt; font-weight:800").mb-2 05
              p.mb-0 Acoplarse y responder rápido a la innovación.
        .col-12.col-lg-5.mb-5
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/icon_1_06.svg", alt="") 
            .tarjeta__texto
              h3(style="font-size:16pt; font-weight:800").mb-2 06
              p.mb-0 Proteger el producto de diversas amenazas del mercado.
        .col-12.col-lg-5.mb-5
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01.full--height
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/icon_1_07.svg", alt="") 
            .tarjeta__texto
              h3(style="font-size:16pt; font-weight:800").mb-2 07
              p.mb-0 Realizar y promocionar la marca.
        .col-12.col-lg-5.mb-5
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/icon_1_08.svg", alt="") 
            .tarjeta__texto
              h3(style="font-size:16pt; font-weight:800").mb-2 08
              p.mb-0 Buscar liderar el mercado. (enciclopedia económica, 2021).

      p.mb-5 De manera alterna se debe identificar variables como: el precio, origen, calidad, disponibilidad en el mercado local o regional de los insumos que son necesarios para la producción del bien que se pretende producir.

      .tarjeta.tarjeta--neutro_02.mb-5 
        p.mb-0 En el estudio de mercado es imprescindible realizar una descripción del motivo por el cual se realiza el proyecto, si se formula para abrir nuevos mercados en el exterior, para comercializar como un nuevo producto, para sustituir importaciones o con el fin de competir con productos tradicionales; otro ítem a tener en cuenta, son las condiciones del mercado objetivo, aquí es preciso tener el conocimiento de las características que presenta el mercado local, mercado regional, mercado nacional o el mercado externo al cual va dirigido el proyecto.

      .hr-divider.my-5

      .row.mb-3
        .col-12.mb-4#tema_1_1
          h2(style="color:#00838F") 1.1 Identificación del bien o servicio

      .tarjeta.tarjeta--neutro_03.mb-5 
        .row.mb-5 
          .col-12              
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/hJO1bi-WwAc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', 
              allowfullscreen='')  

        .row
          .col-12.mb-5
            .tarjeta.tarjeta--iconoIzquierda.responsive_Top
              .tarjeta__icono 
                img(src="assets/images/pages/tema_1/icon_1_1_01.svg", alt="") 
              .tarjeta__texto
                h3(style="font-size:16pt; font-weight:800").mb-3 Uso
                p.mb-0 Se debe identificar ¿para qué se usa?, ¿cómo se usa? y ¿cuáles son sus principales aplicaciones? si aplica para el bien o servicio. (Miranda, 2005, p.92).        
          .col-12.mb-5
            .tarjeta.tarjeta--iconoIzquierda.responsive_Top
              .tarjeta__icono 
                img(src="assets/images/pages/tema_1/icon_1_1_02.svg", alt="") 
              .tarjeta__texto
                h3(style="font-size:16pt; font-weight:800").mb-3 Usuario
                p.mb-0 Aquí se establece la ubicación espacial de los consumidores finales, además identificar, gustos, fiestas nacionales, credo religioso, actividades comunitarias, nivel de ingreso, sexo, estrato. (Miranda, 2005, p.93)        
          .col-12.mb-5
            .tarjeta.tarjeta--iconoIzquierda.responsive_Top
              .tarjeta__icono 
                img(src="assets/images/pages/tema_1/icon_1_1_03.svg", alt="") 
              .tarjeta__texto
                h3(style="font-size:16pt; font-weight:800").mb-3 Presentación
                p.mb-0 La forma de presentación es uno de los factores que más liga al producto con el usuario, y que suele tener alguna importancia en la estructura de costos, es el caso de la leche pasteurizada, por ejemplo, que su precio varía significativamente dependiendo de que su presentación sea en botella, en bolsa, o en caja de cartón. (Miranda, 2005, p.93).
          .col-12.mb-5
            .tarjeta.tarjeta--iconoIzquierda.responsive_Top
              .tarjeta__icono 
                img(src="assets/images/pages/tema_1/icon_1_1_04.svg", alt="") 
              .tarjeta__texto
                h3(style="font-size:16pt; font-weight:800").mb-3 Características físicas
                p.mb-0 Tamaño, color, peso, textura, olor, sabor, aroma, si es perecedero o no, etc. (Miranda, 2005, p.93).        
          .col-12.mb-5
            .tarjeta.tarjeta--iconoIzquierda.responsive_Top
              .tarjeta__icono 
                img(src="assets/images/pages/tema_1/icon_1_1_05.svg", alt="") 
              .tarjeta__texto
                h3(style="font-size:16pt; font-weight:800").mb-3 Composición
                p.mb-0 Si es un producto procesado se indica que insumos se usaron en la producción, esto también ayuda a identificar si los insumos usados en el proceso se consiguen en la región, el costo, tipo de transporte, la disponibilidad, etc. (Miranda, 2005, p.93).        
          .col-12.mb-5
            .tarjeta.tarjeta--iconoIzquierda.responsive_Top
              .tarjeta__icono 
                img(src="assets/images/pages/tema_1/icon_1_1_06.svg", alt="") 
              .tarjeta__texto
                h3(style="font-size:16pt; font-weight:800").mb-3 Producto
                p.mb-0 Establecer si el producto es de consumo final (duradero o perecedero, necesario o suntuario, habitual no habitual, etc.); producto de temporada, tradicionales, de alta o baja rotación, etc. (Miranda, 2005, p.93).        
          .col-12.mb-5
            .tarjeta.tarjeta--iconoIzquierda.responsive_Top
              .tarjeta__icono 
                img(src="assets/images/pages/tema_1/icon_1_1_07.svg", alt="") 
              .tarjeta__texto
                h3(style="font-size:16pt; font-weight:800").mb-3 Sustitutos
                p.mb-0 Se debe indicar la existencia y características de otros productos que pueden competir en su consumo. Un bien puede convertirse en sustituto por efectos de cambio en la calidad, en la presentación, en los precios, en el gusto de los consumidores, en la presión publicitaria o a causa de los desarrollos tecnológicos, etc. (Miranda, 2005, p.93).        
          .col-12.mb-5
            .tarjeta.tarjeta--iconoIzquierda.responsive_Top
              .tarjeta__icono 
                img(src="assets/images/pages/tema_1/icon_1_1_08.svg", alt="") 
              .tarjeta__texto
                h3(style="font-size:16pt; font-weight:800").mb-3 Precios y Costos
                p.mb-0 El objetivo de establecer los costos y precios es poder usar esos valores que deben ser indagados con los comercializadores a nivel minorista, mayorista y al consumidor final, para establecer los rangos de precios y costos que puede tener el producto para usarlo en la valoración del posible margen de ganancia y precio de comercialización del producto.        
          .col-12.mb-0
            .tarjeta.tarjeta--iconoIzquierda.responsive_Top
              .tarjeta__icono 
                img(src="assets/images/pages/tema_1/icon_1_1_09.svg", alt="") 
              .tarjeta__texto
                h3(style="font-size:16pt; font-weight:800").mb-3 Condiciones legales
                p.mb-0 en este ítem debe realizarse una revisión de la normatividad vigente que pueda afectar el proceso de producción y comercialización; por ejemplo la resolución 407 de 2019 en la que establecen los Planes Departamentales de Extensión Agropecuaria PDEA, en los que se priorizan las líneas productivas que van a recibir recursos públicos para inversión; o la resolución del Instituto Colombiano Agropecuario ICA 4174 de 2009 en la que se reglamenta la certificación en buena prácticas agrícolas en la producción primaria de fruta y vegetales para consumo en fresco o incluso, la resolución ICA 448 de 2016 que permite el registro de predios de producción de fruta fresca para exportación y el registro de los exportadores y plantas empacadoras.

      .row.mb-4
        .col-12#tema_1_2
          h2(style="color:#00838F") 1.2 Identificación de la demanda 

      p.mb-4 Cuando se realiza el estudio de la demanda se hace una labor de búsqueda de información la cual debe ser sistemática, enfocada en registrar eventos como cantidad de producto que puede llegar a ser vendido, cantidad de producto que una comunidad puede llegar a adquirir, analizar los precios, identificar los gustos o preferencias y la capacidad de compra de los consumidores.

      
      p.mb-4 La información recolectada y analizada al finalizar la identificación de la demanda aporta elementos básicos para el estudio técnico, esto se traduce en el tamaño o la capacidad de producción, esta información describe la disponibilidad de insumos lo que debe concordar con otros elementos como la capacidad financiera, técnica y administrativa.
    
      p.mb-4 Para orientar mejor el estudio de la demanda debemos reconocer el objetivo este depende de la intención del formulador del proyecto, puede ser para la generación de ingresos caso en el que se busca una retribución económica satisfaciendo el interés privado o por el contrario puede plantearse un objetivo que solicite el bienestar de una comunidad (social), en esta caso el proyecto generaría unos impactos positivos en un grupo de personas o región, sin perseguir la retribución económica.

      .tarjeta.tarjeta--borde.mb-5
        .row.justify-content-center.align-items-center 
          .col-auto.mb-4.mb-lg-0 
            img(src="assets/images/pages/tema_1/icon_1_2_01.svg", alt="", style="width:90px; display:block; margin:0 auto;")
          .col-12.col-lg 
            p.mb-0 En el desarrollo del análisis de la demanda, se debe determinar la población objetivo, es el grupo de personas a las cuales se les desea vender el producto, esta población debe caracterizarse teniendo en cuenta valores como edad, sexo, nivel escolar, estado civil, tamaño de la población (número de personas), tasa de crecimiento; además se debe obtener información sobre nivel actual del ingreso y establecer la zona de influencia que es identificar en lo posible sobre un mapa la zona geográfica en la que se desea comercializar el producto objeto del proyecto; la información anterior también es conocida como área de mercado.

      p.mb-5 Otra de las variables que es de gran importancia en el estudio de la demanda es el comportamiento del precio del producto a través de los años; para esto una de las formas de determinar los momentos de mayor o de menor oferta y de mejores o menores precios es utilizando las #[strong series de volúmenes de producto comercializado y las series de precios al consumidor].

      .tarjeta.tarjeta--neutro_01.mb-5 
        p.mb-0 Todos los mercados están compuestos por una serie de submercados o "segmentos" de consumidores que tienen entre ellos características comunes de tipo demográfico, geográfico, psicológico, económico, étnico, cultural, etc. (Miranda, 2005, p.99).
      
      p.mb-5 La "segmentación" del mercado permite, entonces, organizar y clasificar la demanda, de acuerdo a ciertos y determinados atributos; en efecto, este proceso nos conduce a conocer, entre otros:

      .row.justify-content-center 
        .col-10.mb-4
          .tarjeta.tarjeta--neutro_03.tarjeta--iconoIzquierda.d-inlineBlock
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/info_1_2_01.svg", alt="")
            .tarjeta__texto
              p.mb-0 El número actual de demandantes
        .col-10.mb-4
          .tarjeta.tarjeta--neutro_03.tarjeta--iconoIzquierda.d-inlineBlock
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/info_1_2_02.svg", alt="")
            .tarjeta__texto
              p.mb-0 El número potencial estimado de compradores del bien o servicio.
        .col-10.mb-4
          .tarjeta.tarjeta--neutro_03.tarjeta--iconoIzquierda.d-inlineBlock
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/info_1_2_03.svg", alt="")
            .tarjeta__texto
              p.mb-0 Los lugares donde suelen hacer las compras los consumidores (zonas urbanas, zonas rurales, grandes supermercados, pequeños expendios, tiendas virtuales, si el bien o servicio entrega a nivel domiciliario)
        .col-10.mb-4
          .tarjeta.tarjeta--neutro_03.tarjeta--iconoIzquierda.d-inlineBlock
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/info_1_2_04.svg", alt="")
            .tarjeta__texto
              p.mb-0 La ubicación geográfica de los productores y distribuidores.
        .col-10.mb-4
          .tarjeta.tarjeta--neutro_03.tarjeta--iconoIzquierda.d-inlineBlock
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/info_1_2_05.svg", alt="")
            .tarjeta__texto
              p.mb-0 Frecuencia con que se efectúan las compras (mensual, semanal, diaria).
        .col-10.mb-4
          .tarjeta.tarjeta--neutro_03.tarjeta--iconoIzquierda.d-inlineBlock
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/info_1_2_06.svg", alt="")
            .tarjeta__texto
              p.mb-0 Motivación y actitudes con respecto a la mercancía adquirida, el ritual de compra.
        .col-10.mb-4
          .tarjeta.tarjeta--neutro_03.tarjeta--iconoIzquierda.d-inlineBlock
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/info_1_2_07.svg", alt="")
            .tarjeta__texto
              p.mb-0 Indicadores de cambio en los hábitos de compra.
        .col-10.mb-4
          .tarjeta.tarjeta--neutro_03.tarjeta--iconoIzquierda.d-inlineBlock
            .tarjeta__icono 
              img(src="assets/images/pages/tema_1/info_1_2_08.svg", alt="")
            .tarjeta__texto
              p.mb-0 Características de los compradores o usuarios (edad, sexo, raza, nivel de ingresos, tamaño de la familia, etc.) (Miranda, 2005, p.99).

      .tarjeta.tarjeta--neutro_01.mb-5
        .row.justify-content-end.align-items-center 
          .col-12.col-lg.mb-4.mb-lg-0    
            h2.mb-2(style="color:#7f8807") Recurso PDF
            p.mb-0(style="font-size:12pt") Infografía - Identificación de la demanda.
          .col-auto 
            a(href="media/documentos/infografia_identificacion_demanda.pdf", target="_blank").boton #[span Descargar] #[i(class="fa fa-arrow-down")]

      .hr-divider.my-5

      .row.mb-4
        .col-12#tema_1_3
          h2(style="color:#00838F") 1.3 Identificación de la oferta          

      .row.mb-5
        .col-12
          p En la identificación de la oferta se busca establecer la cantidad de producto que se necesita para cubrir la demanda o necesidades de una población en el futuro; esa no es una labor fácil debido a que para tener una aproximación real es necesario tener la información de la competencia para poder tener una visión global de la cantidad de producto sembrado y por lo tanto estimar la posible cantidad (oferta) de producto a ofrecer.        
          p La oferta es también una variable que depende de otras, tales como: los costos y disponibilidad de los insumos, las restricciones determinadas por el gobierno, los desarrollos tecnológicos, las alteraciones del clima (especialmente en la oferta agrícola y agroindustrial), los precios de los bienes sustitutos y complementarios, la capacidad instalada de la competencia, etc. (Miranda, 2005, p.112).
          p.mb-0 Para iniciar la identificación de la oferta, es necesario generar una lista con los datos de los proveedores de insumos con la siguiente información:

      .row.justify-content-center.mb-5
        .col-10.col-lg-3 
          .tarjetaVertical.tarjetaVertical--neutro_03
            .tarjetaVertical__icono 
              img(src="assets/images/pages/tema_1/icon_1_3_01.svg", alt="")
            .tarjetaVertical__texto 
              p.text-center.mb-0 Nombre de la empresa
        .col-10.col-lg-3 
          .tarjetaVertical.tarjetaVertical--neutro_03
            .tarjetaVertical__icono 
              img(src="assets/images/pages/tema_1/icon_1_3_02.svg", alt="")
            .tarjetaVertical__texto 
              p.text-center.mb-0 Características de su producción (artesanal o industrial)
        .col-10.col-lg-3  
          .tarjetaVertical.tarjetaVertical--neutro_03
            .tarjetaVertical__icono 
              img(src="assets/images/pages/tema_1/icon_1_3_03.svg", alt="")
            .tarjetaVertical__texto 
              p.text-center.mb-0 Precios de los insumos
        .col-10.col-lg-3 
          .tarjetaVertical.tarjetaVertical--neutro_03
            .tarjetaVertical__icono 
              img(src="assets/images/pages/tema_1/icon_1_3_04.svg", alt="")
            .tarjetaVertical__texto 
              p.text-center.mb-0 Participación en el mercado
        .col-10.col-lg-3 
          .tarjetaVertical.tarjetaVertical--neutro_03
            .tarjetaVertical__icono 
              img(src="assets/images/pages/tema_1/icon_1_3_05.svg", alt="")
            .tarjetaVertical__texto 
              p.text-center.mb-0 Sistemas de comercialización
        .col-10.col-lg-3 
          .tarjetaVertical.tarjetaVertical--neutro_03
            .tarjetaVertical__icono 
              img(src="assets/images/pages/tema_1/icon_1_3_06.svg", alt="")
            .tarjetaVertical__texto 
              p.text-center.mb-0 Sistema de ventas (crédito, contado) y canales de comercialización.
        .col-10.col-lg-3 
          .tarjetaVertical.tarjetaVertical--neutro_03
            .tarjetaVertical__icono 
              img(src="assets/images/pages/tema_1/icon_1_3_07.svg", alt="")
            .tarjetaVertical__texto 
              p.text-center.mb-0 Localización

      .tarjeta.tarjeta--neutro_01   
        p.mb-0 #[strong Al igual que en la demanda, para la oferta es posible realizar de manera estadística el análisis histórico, actual y futuro] con el fin de verificar las cantidades que se ofrecieron, que se ofrecen y que se ofrecerán; recuerde que para este estudio necesita recolectar buena información, esta se clasifica en dos clases, #[strong primaria], que es la que se obtiene directamente de los productores, o de una organización o del cultivo o explotación pecuaria; y la segunda clase de información es la #[strong secundaria], que se obtiene de las encuestas realizadas por alguna entidad como el #[strong DANE], un artículo de investigación, o de un trabajo escrito realizado por instituciones o personas.

      
      .hr-divider.my-5
      .row
        .col-12.mb-4#tema_1_4
          h2(style="color:#00838F") 1.4 Identificación del precio
          p En la determinación de precio de los productos se tiene en cuenta el valor de los insumos, condiciones de la oferta y la demanda; una definición de precio es la siguiente: es lo que se da a cambio por un bien o servicio, puede ser el dinero que se entrega por un producto deseado. Es un condicionante, puesto que está sujeto a los precios que maneja la competencia. (Puentes, 2011, p.55).
          p Existen cinco objetivos que se pueden utilizar para la fijación del precio por parte de una empresa o productor:

      #Acordion_01.accordion.mb-5
        .card
          #Acordion_01--H01.card-header
            h2.mb-0
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#Acordion_01--C01', aria-expanded='true', aria-controls='Acordion_01--C01')
                h3.mb-0.collapsable-title Objetivos de ventas o participación en el mercado
          #Acordion_01--C01.collapse.show(aria-labelledby='Acordion_01--H01', data-parent='#Acordion_01')
            .card-body(style="background-color:#eaf6fc; padding-top:2rem; padding-bottom:2rem;")
              .row.justify-content-center.align-items-center
                .col-auto 
                  img(src="assets/images/pages/tema_1/icon_Ac1_01.svg", alt="", style="width:120px; display:block; margin:0 auto;")
                .col-lg
                  p.mb-0 Estos objetivos persiguen el incremento de las ventas o el aumento de la participación en el mercado (porcentaje de las ventas de un producto con respecto a las ventas totales de esa industria) y se logra al asignar un precio más bajo que el ofrecido por la competencia. (Puentes, 2011, p.53).
                        
        .card
          #Acordion_01--H02.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#Acordion_01--C02', aria-expanded='false', aria-controls='Acordion_01--C02')
                h3.mb-0.collapsable-title Objetivos orientados a las utilidades
          #Acordion_01--C02.collapse(aria-labelledby='Acordion_01--H02', data-parent='#Acordion_01')
            .card-body(style="background-color:#eaf6fc; padding-top:2rem; padding-bottom:2rem;")
              .row.justify-content-center.align-items-center
                .col-auto 
                  img(src="assets/images/pages/tema_1/icon_Ac1_02.svg", alt="", style="width:120px; display:block; margin:0 auto;")
                .col-lg
                  p.mb-0 Persiguen elevar al máximo el nivel de las utilidades.

        .card
          #Acordion_01--H03.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#Acordion_01--C03', aria-expanded='false', aria-controls='Acordion_01--C03')
                h3.mb-0.collapsable-title Objetivos de efecto competitivo
          #Acordion_01--C03.collapse(aria-labelledby='Acordion_01--H03', data-parent='#Acordion_01')
            .card-body(style="background-color:#eaf6fc; padding-top:2rem; padding-bottom:2rem;")
              .row.justify-content-center.align-items-center
                .col-auto 
                  img(src="assets/images/pages/tema_1/icon_Ac1_03.svg", alt="", style="width:120px; display:block; margin:0 auto;")
                .col-lg
                  p.mb-0 Buscan generar en la competencia una disminución en sus ventas. (Puentes, 2011, p.53).
        
        .card
          #Acordion_01--H04.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#Acordion_01--C04', aria-expanded='false', aria-controls='Acordion_01--C04')
                h3.mb-0.collapsable-title Objetivos de satisfacción del cliente
          #Acordion_01--C04.collapse(aria-labelledby='Acordion_01--H04', data-parent='#Acordion_01')
            .card-body(style="background-color:#eaf6fc; padding-top:2rem; padding-bottom:2rem;")
              .row.justify-content-center.align-items-center
                .col-auto 
                  img(src="assets/images/pages/tema_1/icon_Ac1_04.svg", alt="", style="width:120px; display:block; margin:0 auto;")
                .col-lg
                  p.mb-0 Asignación de precios que busca la satisfacción del cliente como principal objetivo. (Puentes, 2011, p.53).

        .card
          #Acordion_01--H05.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#Acordion_01--C05', aria-expanded='false', aria-controls='Acordion_01--C05')
                h3.mb-0.collapsable-title Objetivos de mejoramiento de imagen
          #Acordion_01--C05.collapse(aria-labelledby='Acordion_01--H05', data-parent='#Acordion_01')
            .card-body(style="background-color:#eaf6fc; padding-top:2rem; padding-bottom:2rem;")
              .row.justify-content-center.align-items-center
                .col-auto 
                  img(src="assets/images/pages/tema_1/icon_Ac1_05.svg", alt="", style="width:120px; display:block; margin:0 auto;")
                .col-lg
                  p.mb-0 El precio permite hacer inferencias acerca de la calidad del producto. Este objetivo tiene como particularidad su importancia en los productos de lujo. (Puentes, 2011, p.53).


      .hr-divider.my-5
      .row.mb-4
        .col-12#tema_1_5
          h2(style="color:#00838F") 1.5 Estrategia de mercadeo agrícola
          p La parte final del estudio de mercado se debe establecer una estrategia del producto seleccionado, por lo que establecer una estrategia de mercadeo, esta debe presentar una combinación de elementos comerciales conocida como las cuatro P:
      
      .row.mb-5 
        .col-12 
          img(src="assets/images/pages/tema_1/img_1_5_01.svg", alt="", style="display:block; margin:0 auto; width:100%; max-width:350px;")

      .row.justify-content-center.align-items-center.mb-5
        .col-auto.order-last.order-lg-first 
          img(src="assets/images/pages/tema_1/img_1_5_02.svg", alt="", style="display:block; margin:0 auto; width:100%; max-width:550px;")
        .col-12.col-lg.order-first.order-lg-last.mb-4.mb-lg-0      
          p Para definir el producto es necesario responder a la pregunta ¿es un producto final o es un producto industrial?, el segundo paso es determinar la calidad del producto y estandarizarlo; para esto debe tener en cuenta el ciclo de vida del producto y sus cuatro etapas introducción, aceptación o crecimiento acelerado, maduración y declinación. Recuerde que las especificaciones y calidad del producto deben ser muy específicas para que puedan ser comercializadas en el mercado deseado.

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg.mb-4.mb-lg-0      
          p El precio también debe estar establecido de acuerdo con la calidad del producto; por ejemplo tres clases de café con combinaciones de calidad y precio diferentes, el primer café de baja calidad que proviene de mezcla de variedades, malas pasillas, mohoso, con fermento y reposado por lo que se comercializa a un precio económico; Una segunda clase de café de calidad media con pocos defectos, pero con sabor a grano verde, posee un precio que corresponde a una adecuada relación precio/calidad; por último un café especial con una prueba de tasa superior a 85 puntos, de tostión y molienda media, proveniente de cafés arábigos y con denominación de origen.
        .col-auto.mb-4.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_5_03.svg", alt="", style="display:block; margin:0 auto; width:100%; max-width:550px;")

      p.mb-5 #[strong En la promoción se debe resaltar las cualidades del producto para poder diferenciarlo de los demás, otorgándole una característica de valor que lo identifique]; para poder tener éxito en el proceso es necesario realizar no solo la publicidad del producto sino establecer relaciones públicas y promoción. Tenga en cuenta en el momento de realizar la publicidad de:

      .tarjeta.tarjeta--neutro_01.mb-4
        p.mb-0 #[strong 1.] Resaltar las características de valor de su producto informando sus beneficios.
      
      .tarjeta.tarjeta--neutro_01.mb-5 
        p.mb-0 #[strong 2.] Indicar la razón porque su producto es mejor que el de la competencia y por eso deben adquirirlo.

      .tarjeta.tarjeta--borde.mb-5 
        p.mb-0 Con la finalidad de mejorar el precio de venta del producto se debe diseñar la estrategia para la distribución en la plaza o sitio de venta final del producto y los costos que implican realizar esta labor; la idea de este ejercicio es realizar el trabajo que hacen los intermediarios de conocer los contactos para realizar las transacciones y poseer la información de los mercados, además financiar las promociones y agregar valor en tiempo, espacio y volumen para facilitar la comercialización de la mercancía.